body {
  background-color: hsl(225 10% 15%);
}
a {
  color: inherit;
}
.App {
  padding: 25px;
  padding-bottom: 50px;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 1;
  font-size: 15px;

  @media (max-width: 800px) {
    zoom: 0.75;
  }

  .loading,
  .refresh-alert {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }

  .comments {
    display: flex;
    flex-direction: column;
    // gap: 15px;

    .comment-container {
      display: flex;
      flex-direction: column;
      // gap: 15px;
      // align-items: start;
      scroll-margin-top: 12.5px;
      transition: 0.25s linear;

      &.is-new {
        display: grid;
        // transition: 0.15s ease-out;
        // animation: grid-ani 0.4s cubic-bezier(0, 0.55, 0.45, 1) forwards;
        animation: grid-ani 0.25s linear forwards;

        .comment-container-inner {
          overflow: hidden;
        }
      }
      @keyframes grid-ani {
        0% {
          grid-template-rows: 0fr;
        }
        100% {
          grid-template-rows: 1fr;
        }
      }
      &:last-child {
        .comment-container-inner {
          margin-bottom: 0px;
        }
      }
      .comment-container-inner {
        margin-bottom: 15px;

        .comment {
          display: flex;
          // gap: 15px;
          // background-color: hsl(225 15% 15%);
          // padding: 10px;

          .left {
            min-width: 10px;
            background-color: hsl(calc(var(--m) * 30 + 225) 50% 50%);
          }
          .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .header {
              display: flex;
              align-items: center;
              gap: 25px;
              padding: 5px 10px;
              background-color: hsl(calc(var(--m) * 30 + 225) 20% 20%);

              @media (max-width: 800px) {
                zoom: 0.75;
              }

              .user {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-right: auto;
                padding-right: 25px;

                .name {
                  color: hsl(225 100% 95%);
                  font-weight: 800;
                  font-size: 17.5px;
                }
                .flair {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  color: hsl(225 15% 75%);

                  .flair-item {
                    img {
                      --s: 15px;
                      width: var(--s);
                      height: var(--s);
                    }
                  }
                }
              }
              .replies-count {
                color: hsl(225 25% 85%);
                font-family: JetBrains Mono;
              }
              .voting {
                display: flex;
                align-items: center;
                gap: 7.5px;

                .upvote,
                .downvote {
                  --s: 15px;
                  width: var(--s);
                  height: var(--s);
                }
                .upvote {
                  border-left: calc(var(--s) / 2) solid transparent;
                  border-right: calc(var(--s) / 2) solid transparent;
                  border-bottom: calc(var(--s) / 2) solid hsl(225 25% 85%);
                  translate: 0 calc(-25%);
                }
                .score {
                  font-weight: 800;
                  // font-size: 20px;
                  color: hsl(225 25% 85%);
                  font-family: JetBrains Mono;
                  translate: 0 0.5px;
                }
                .downvote {
                  border-left: calc(var(--s) / 2) solid transparent;
                  border-right: calc(var(--s) / 2) solid transparent;
                  border-top: calc(var(--s) / 2) solid hsl(225 25% 85%);
                  translate: 0 calc(25%);
                }
              }
              .created {
                display: flex;
                align-items: center;
                gap: 5px;
                font-family: JetBrains Mono;

                .origial {
                  color: hsl(225 15% 75%);
                }
                .edited {
                  color: hsl(225 15% 65%);
                }
              }
              .open-in-reddit {
                transition: 0.15s ease-out;
                font-size: 17.5px;

                &:hover {
                  color: #ff4500;
                }
              }
            }
            .body {
              padding: 0 10px;
              .md {
                font-weight: 400;
                line-height: 1.25;
                color: hsl(225 15% 90%);
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                  color: hsl(225 100% 65%);
                }
                ul,
                ol {
                  padding-left: 22.5px;
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                }
              }
            }
          }
        }
        .replies {
          display: flex;
          flex-direction: column;
          // gap: 15px;
          padding-left: 25px;
          border-left: 2.5px solid hsl(calc(var(--m) * 30 + 225) 50% 50%);
          padding-top: 15px;
        }

        &.collapse {
          .comment .right .body,
          .replies {
            display: none;
          }
        }
      }
    }
  }
}
