body {
  background-color: hsl(225 10% 17.5%);
  overflow-anchor: none;
}
a {
  color: inherit;
  word-break: break-word;
}
.App {
  padding: 25px;
  padding-bottom: 50px;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 1;
  font-size: 15px;
  // padding-bottom: 100px;

  @media (max-width: 800px) {
    padding-inline: 10px;
    zoom: 0.85;
  }
  @media (max-width: 500px) {
    zoom: 0.75;
  }

  > .home {
    font-size: 20px;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    gap: 15px;

    > p {
      > a {
        color: hsl(225 75% 75%);
      }
    }
  }

  > .loading,
  > .refresh-alert {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }

  > .posts {
    display: flex;
    flex-direction: column;
    gap: 25px;

    > .header {
      display: flex;
      flex-direction: column;
      gap: 5px;

      > .sub-name {
        text-transform: capitalize;
        font-size: 25px;
        font-weight: 800;
        text-align: center;
      }

      > .toolbar {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        > .sort-sub {
          display: flex;
          align-items: center;
          gap: 10px;

          > .sort {
            &.active {
              outline: 1px solid hsl(225 50% 70%);
            }
          }
        }
      }
    }

    > .header > .toolbar > .sort-sub > a,
    > .header > .toolbar > .filter-match-threads,
    > .load-more-posts {
      background: hsl(225 25% 25%);
      box-shadow: 0 0 15px -10px #000;
      padding: 10px 15px;
      font-size: 20px;
      align-self: center;
      font-weight: 800;

      cursor: pointer;
      transition: 0.15s ease-out;
      &:hover {
        background: hsl(225 25% 35%);
      }
    }

    > .fetching-alert {
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 800;
      text-align: center;
    }

    > .post {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: start;

      > .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.25;

        transition: 0.15s ease-out;
        &:hover {
          color: hsl(225 100% 75%);
        }
      }

      .footer {
        display: flex;
        gap: 25px;

        .created {
          display: flex;
          gap: 5px;

          .origial {
          }
          .edited {
          }
        }
      }
    }
  }

  > .comments {
    display: flex;
    flex-direction: column;
    // gap: 15px;
    --starting-color: 225;
    --color-jump: 45;

    .comment-container {
      display: flex;
      flex-direction: column;
      // gap: 15px;
      // align-items: start;
      scroll-margin-top: 12.5px;
      transition: 0.25s linear;

      &.is-very-old {
        filter: grayscale(0.75) brightness(0.85);
      }

      &.is-new {
        filter: saturate(1.25) brightness(1.25);

        display: grid;
        // transition: 0.15s ease-out;
        // animation: grid-ani 0.25s linear forwards;
        animation: comment-grid-ani 0.25s ease-out forwards;

        > .comment-container-inner {
          overflow: hidden;
        }

        &:last-child {
          > .comment-container-inner {
            margin-bottom: 0px;
          }
        }
        &:not(:last-child) {
          > .comment-container-inner {
            animation: comment-margin-ani 0.25s ease-out forwards;
          }
        }
      }
      @keyframes comment-grid-ani {
        0% {
          grid-template-rows: 0fr;
        }
        100% {
          grid-template-rows: 1fr;
        }
      }
      @keyframes comment-margin-ani {
        0% {
          margin-bottom: 0px;
        }
        100% {
          margin-bottom: 15px;
        }
      }
      &:last-child {
        > .comment-container-inner {
          margin-bottom: 0px;
        }
      }
      > .comment-container-inner {
        margin-bottom: 15px;
        // transition: 0.5s linear;
        // transition: 0.25s linear;

        > .comment {
          display: flex;
          // gap: 15px;
          // background-color: hsl(225 15% 15%);
          // padding: 10px;

          > .left {
            min-width: 10px;
            background-color: hsl(calc(var(--depth) * var(--color-jump) + var(--starting-color)) 50% 50%);
          }
          > .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            > .header {
              display: flex;
              align-items: center;
              justify-content: end;
              gap: 5px 15px;
              padding: 5px 10px;
              background-color: hsl(calc(var(--depth) * var(--color-jump) + var(--starting-color)) 20% 22.5%);
              flex-wrap: wrap;

              // @media (max-width: 800px) {
              //   zoom: 0.75;
              // }

              > .user {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-right: auto;
                padding-right: 25px;

                > .name {
                  color: hsl(225 100% 95%);
                  font-weight: 600;
                  font-size: 17.5px;
                  // text-shadow: 0 0 10px hsl(calc(var(--depth) * var(--color-jump) + var(--starting-color)) 100% 50% / 50%);
                }
                > .flair {
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  color: hsl(225 15% 75%);

                  > .flair-item {
                    > img {
                      --s: 15px;
                      width: var(--s);
                      height: var(--s);
                    }
                  }
                }
              }
              > .refresh-comment {
                color: hsl(225 25% 85%);
                cursor: pointer;

                position: relative;
                &:before {
                  content: "";
                  position: absolute;
                  inset: -5px;
                  background: #fff1;
                }

                > svg {
                  rotate: 0;
                  transition: 0.5s ease-out;
                }
                &.is-refreshing-comment > svg {
                  animation: rotate-ani 0.5s linear infinite;

                  @keyframes rotate-ani {
                    0% {
                      rotate: 0turn;
                    }
                    100% {
                      rotate: -1turn;
                    }
                  }
                }
              }
              > .replies-count {
                color: hsl(225 25% 85%);
                font-family: JetBrains Mono;
              }
              > .voting {
                display: flex;
                align-items: center;
                gap: 7.5px;
                // display: none;

                > .upvote,
                > .downvote {
                  --s: 10px;
                  width: var(--s);
                  height: var(--s);
                }
                > .upvote {
                  border-left: calc(var(--s) / 2) solid transparent;
                  border-right: calc(var(--s) / 2) solid transparent;
                  border-bottom: calc(var(--s) / 2) solid hsl(225 25% 85%);
                  translate: 0 calc(-25%);
                }
                > .score {
                  font-weight: 800;
                  // font-size: 20px;
                  color: hsl(225 25% 85%);
                  font-family: JetBrains Mono;
                  translate: 0 0.5px;
                  transition: 0.5s ease-out;
                }
                > .downvote {
                  border-left: calc(var(--s) / 2) solid transparent;
                  border-right: calc(var(--s) / 2) solid transparent;
                  border-top: calc(var(--s) / 2) solid hsl(225 25% 85%);
                  translate: 0 calc(25%);
                }
              }
              > .created {
                display: flex;
                align-items: center;
                gap: 5px;
                font-family: JetBrains Mono;

                > .origial {
                  color: hsl(225 15% 75%);
                  transition: 0.5s ease-out;
                }
                > .edited {
                  color: hsl(225 15% 65%);
                  transition: 0.5s ease-out;
                }
              }
              > .open-in-reddit {
                transition: 0.15s ease-out;
                font-size: 17.5px;

                &:hover {
                  color: #ff4500;
                }
              }
            }
            > .body {
              padding: 0 10px;

              > .md {
                font-size: 17.5px;
                font-weight: 400;
                line-height: 1.25;
                color: hsl(225 15% 90%);
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                  color: hsl(225 100% 65%);
                }
                ul,
                ol {
                  padding-left: 22.5px;
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                }
                blockquote {
                  border-left: 5px solid hsl(calc((var(--depth) - 1) * var(--color-jump) + var(--starting-color)) 50% 50%);
                  background: hsl(calc((var(--depth) - 1) * var(--color-jump) + var(--starting-color)) 20% 22.5%);
                  padding: 5px 10px;
                  align-self: start;
                }
              }
            }
          }
        }
        > .replies-container {
          display: grid;
          transition: 0.25s ease-out;
          grid-template-rows: 1fr;
          animation: reverse-replies-grid-ani 0.25s ease-out forwards;

          &.is-refreshing-comment {
            animation: replies-grid-ani 0.25s ease-out forwards;
          }
          @keyframes replies-grid-ani {
            0% {
              grid-template-rows: 1fr;
            }
            100% {
              grid-template-rows: 0fr;
            }
          }
          @keyframes reverse-replies-grid-ani {
            0% {
              grid-template-rows: 0fr;
            }
            100% {
              grid-template-rows: 1fr;
            }
          }
          > .replies {
            overflow: hidden;

            > .replies-inner {
              display: flex;
              flex-direction: column;
              // gap: 15px;
              border-left: 2.5px solid hsl(calc(var(--depth) * var(--color-jump) + var(--starting-color)) 50% 50%);

              padding-left: 20px;
              padding-top: 15px;

              // > .comment-container {
              //   > .comment-container-inner {
              //     padding-left: 25px;
              //   }
              //   &:first-child {
              //     > .comment-container-inner {
              //       padding-top: 15px;
              //     }
              //   }
              // }
            }
          }
        }

        &.collapse {
          .comment .right .body,
          .replies {
            display: none;
          }
        }
      }
    }
  }
}
